<main>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Напишите свою цитату</mat-label>
          <input matInput [(ngModel)]="newCiteMy">
        </mat-form-field>     
    </form>

    <button (click)="addCiteInMain()" mat-raised-button>Добавить цитату</button>

    <child1_comp [newCite]="newCiteMy"></child1_comp>

    <mat-divider></mat-divider>   
    <child2_comp></child2_comp>
    <mat-divider></mat-divider>
    
    <form class="example-form myForm">
        <mat-form-field class="example-full-width myField">
            <mat-label>Напишите свою ссылку</mat-label>
            <input matInput [(ngModel)]="newL[0]">
        </mat-form-field>
        <mat-form-field class="example-full-width myField">
            <mat-label>Напишите описание ссылки</mat-label>
            <input matInput [(ngModel)]="newL[1]">
        </mat-form-field>
    </form>

    <button (click)="addLinkInMain()" mat-raised-button>Добавить ссылку</button>
    
    <child3_comp [myLink]="newLink" [myAbout]="newLinkAbout" [newLink]="newL"></child3_comp>
</main>