<div class="section2">
    <div class="section2Left">
        <img src="../assets/bill-gejts.jpg" alt="BillGatesPhoto">
    </div>
    <div class="section2Right">
        <h1>{{title}}</h1>
        <p>{{paragraph1}}</p>
        <p>{{paragraph2}}</p>
        <p>{{paragraph3}}</p>
        <p>{{paragraph4}}</p>
        <p>{{paragraph5}}</p>
        <p>{{paragraph6}}</p>
        <p>{{paragraph7}}</p>
        <p>{{paragraph8}}</p>
        <p>{{paragraph9}}</p>
        <p>{{paragraph10}}</p>
        <p>{{paragraph12}}</p>
        <p>{{paragraph13}}</p>
        <p>{{paragraph14}}</p>
    </div>
</div>